<%- model_class = ContactInfo -%>
<%= render partial: "common/patient_header"%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @contact_info.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alternate_phone) %>:</strong></dt>
  <dd><%= @contact_info.alternate_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_line1) %>:</strong></dt>
  <dd><%= @contact_info.address_line1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_line2) %>:</strong></dt>
  <dd><%= @contact_info.address_line2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @contact_info.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:province) %>:</strong></dt>
  <dd><%= @contact_info.province %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @contact_info.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @contact_info.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_name) %>:</strong></dt>
  <dd><%= @contact_info.emergency_contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_relationship) %>:</strong></dt>
  <dd><%= @contact_info.emergency_contact_relationship %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_phone) %>:</strong></dt>
  <dd><%= @contact_info.emergency_contact_phone %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @contact_info.patient.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contact_info_path(@contact_info), :class => 'btn btn-info' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contact_info_path(@contact_info),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
