<%= form_for @vital_sign, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :patient_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :patient_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :visit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visit_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :temperature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :temperature, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :heart_rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :heart_rate, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bp_systolic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bp_systolic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bp_diastolic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bp_diastolic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :respiratory_rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :respiratory_rate, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vital_signs_path, :class => 'btn' %>
  </div>
<% end %>
