<%- model_class = VitalSign -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("Patient") %>:</strong></dt>
  <dd><%= @vital_sign.visit.patient.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:temperature) %>:</strong></dt>
  <dd><%= @vital_sign.temperature %></dd>
  <dt><strong><%= model_class.human_attribute_name(:heart_rate) %>:</strong></dt>
  <dd><%= @vital_sign.heart_rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bp_systolic) %>:</strong></dt>
  <dd><%= @vital_sign.bp_systolic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bp_diastolic) %>:</strong></dt>
  <dd><%= @vital_sign.bp_diastolic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:respiratory_rate) %>:</strong></dt>
  <dd><%= @vital_sign.respiratory_rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @vital_sign.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @vital_sign.height %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              visit_path(id: @vital_sign.visit_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vital_sign_path(@vital_sign), :class => 'btn btn-info' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vital_sign_path(@vital_sign),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>