<%= form_for @gynecology_history, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :patient_id, :class => 'hidden_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gynecology_problem_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:gynecology_problem_id, GynecologyProblem.all, :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :problem_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :problem_date, :class => 'date_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :followup, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :followup, rows: 4, :class => 'input-xxlarge' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patient_path(id: @gynecology_history.patient_id), :class => 'btn' %>
  </div>
<% end %>