<%- model_class = MedicalHistory -%>
<%= render partial: "common/patient_header"%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:disease_id) %>:</strong></dt>
  <dd><%= @medical_history.disease.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relationship_id) %>:</strong></dt>
  <dd><%= @medical_history.relationship.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diagnosed_at) %>:</strong></dt>
  <dd><%= @medical_history.diagnosed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cured_at) %>:</strong></dt>
  <dd><%= @medical_history.cured_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @medical_history.patient_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_medical_history_path(@medical_history), :class => 'btn btn-info' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              medical_history_path(@medical_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
