<%= form_for @reg_question, :html => { :class => 'form-horizontal' } do |f| %>
<% if @reg_question.errors.any? %>
  <div class="alert">
    <h2><%= pluralize(@reg_question.errors.count, "error") %> prohibited this reg_question from being saved:</h2>
    <ul>
    <% @reg_question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :minimum_age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :minimum_age, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reg_questions_path, :class => 'btn' %>
  </div>
<% end %>
