<%= form_for @visit, :html => { :class => 'form-horizontal' } do |f| %>
<% if @visit.errors.any? %>
<div class="alert">
	<h4><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h4>
	<ul>
		<% @visit.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<% f.hidden_field :patient_id, :class => 'hidden_field' %>
<% f.hidden_field :appointment_id, class: "hidden_field" %>
<% f.hidden_field :visited_at, class: "hidden_field" %>
<div class="row-fluid">
	<div class="span12">
		<div class="span4">
			<h4 class="alert alert-error">
				Visit Reason:
			</h4>
			<strong><%= simple_format(@visit.visit_reason) %></strong>
		</div>
		<div class="span4">
			<h4 class="alert alert-error">
				Summary:
			</h4>
			<% if @visit.patient.summary.blank? %>
			<p>No summary information found on record</p>
			<% else %>
			<%= simple_format(@visit.patient.summary) %>
			<% end %>
		</div>
		<div class="span4">
			<h4 class="alert alert-error">
				Alergies:
			</h4>
			<% if @visit.patient.allergies.blank? %>
			<p>No Allergies information found on record</p>
			<% else %>
			<% @visit.patient.allergies.each do | allergy |%>
			<strong><%= allergy.substance_name.titleize %>:</strong>&nbsp;
			<%= allergy.reaction.titleize %>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<%= render :partial => 'vital_signs' %>
	<%= render :partial => 'lab_tests' %>
</div>
<div class="row-fluid">
	<div class="span12">
		<h4 class="alert alert-info">
			S.O.A.P. Notes:
		</h4>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<div class="control-group">
			<%= f.label 'Subjective:', class: 'control-label' %>
			<div class="controls">
				<%= f.text_area :s_note, rows: 6, class: "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="control-group">
			<%= f.label 'Objective:', class: 'control-label' %>
			<div class="controls">
				<%= f.text_area :o_note, rows: 6, class: "input-xlarge" %>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="span6">
			<div class="control-group">
				<%= f.label 'Assesment:', class: 'control-label' %>
				<div class="controls">
					<%= f.text_area :a_note, rows: 6, class: "input-xlarge" %>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="control-group">
				<%= f.label 'Plan:', class: 'control-label' %>
				<div class="controls">
					<%= f.text_area :p_note, rows: 6, class: "input-xlarge" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-actions">
	<%= link_to 'Back', patient_path(@visit.patient_id), class: "btn"%>
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	patient_path(id: @visit.patient.id), :class => 'btn' %>
</div>
<% end %>