<%= form_for @visit, :html => { :class => 'form-horizontal' } do |f| %>
<% if @visit.errors.any? %>
<div class="alert">
	<h4><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h4>
	<ul>
		<% @visit.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.hidden_field :patient_id, :class => 'text_field' %>
<div class="row-fluid">
	<div class="span6">
		<%= f.label :visit_date %>
		<div class="input-append date datetimepicker">
			<%= f.text_field :visit_date, data: {:format => "yyyy-MM-dd hh:mm:ss"} %>
			<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
		</div>
	</div>
	<div class="span6">
		<%= f.label :visit_reason %>
		<%= f.text_area :visit_reason, rows: 2, :class => 'input-xlarge' %>
	</div>
</div>
<div class="row-fluid">
	<%= render :partial => 'vital_signs' %>
</div>
<div class="row-fluid">
	<h4 class="alert alert-info">
		S.O.A.P. Notes:
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="span6">
			<div class="control-group">
				<%= f.label 'Subjective:', class: 'control-label' %>
				<div class="controls">
					<%= f.text_area :s_note, rows: 4, class: "input-xlarge" %>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="control-group">
				<%= f.label 'Objective:', class: 'control-label' %>
				<div class="controls">
					<%= f.text_area :o_note, rows: 4, class: "input-xlarge" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="span6">
			<div class="control-group">
				<%= f.label 'Assesment:', class: 'control-label' %>
				<div class="controls">
					<%= f.text_area :a_note, rows: 4, class: "input-xlarge" %>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="control-group">
				<%= f.label 'Plan:', class: 'control-label' %>
				<div class="controls">
					<%= f.text_area :p_note, rows: 4, class: "input-xlarge" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<%= render :partial => 'lab_tests' %>
</div>

<div class="form-actions">
	<%= link_to 'Back', patient_path(@visit.patient_id), class: "btn"%>
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	patient_path(id: @visit.patient.id), :class => 'btn' %>
</div>
<% end %>