<span class="span8">
	<h4 class="alert">
		Vital Signs:&nbsp
		<%= link_to 'Add Record', new_vital_sign_path(visit_id: @visit.id), class: "btn btn-small btn-primary" %>		
	</h4>
	<% if @visit.vital_signs.blank? %>
	<p>
		No vital signs information found on record
	</p>
	<% else %>
	<table class="table table-condensed">
		<tr>
			<th>Temperature [F]</th>
			<th>Heart Rate [Per Min.]</th>
			<th>BP Systolic [HHmg]</th>
			<th>BP Diastolic [HHmg]</th>
			<th>Respiratory Rate</th>
			<th>Weight [Kg]</th>
			<th>Height [cm]</th>
			<th></th>
		</tr>
		<% @visit.vital_signs.each do | vital_sign | %>
		<tr>
			<td><%= vital_sign.temperature %></td>
			<td><%= vital_sign.heart_rate %></td>
			<td><%= vital_sign.bp_systolic %></td>
			<td><%= vital_sign.bp_diastolic %></td>
			<td><%= vital_sign.respiratory_rate %></td>
			<td><%= vital_sign.weight %></td>
			<td><%= vital_sign.height %></td>
			<td><%= link_to 'Edit', edit_vital_sign_path(vital_sign.id), class: "btn btn-mini btn-info" %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
</span>
