<%- model_class = Visit -%>
<h1>Update <%= model_class %></h1>
<div class="page-header">
  <h1>
		<span class="titlehighlight">
			<%= @visit.patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
		<%= @visit.patient.sex.titleize %>
	</span>
		<span class="titlehighlight">
			<%= @visit.patient.age %>
		</span>
		<span class="bluehighlight">
			DOB: <%= @visit.patient.date_of_birth %>
		</span>
		
	</h1>
</div>
<%= render :partial => 'form' %>
