<%= form_for @visit, :html => { :class => 'form-horizontal' } do |f| %>
<% if @visit.errors.any? %>
<div class="alert">
<h4><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h4>
<ul>
	<% @visit.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
</div>
<% end %>
<div class="page-header">
  <h4>
		<span class="titlehighlight">
			<%= @visit.patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
		<%= @visit.patient.gender.titleize %>
	</span>
		<span class="titlehighlight">
			<%= @visit.patient.age %>
		</span>
		<span class="bluehighlight">
			DOB: <%= @visit.patient.date_of_birth %>
		</span>
	</h4>
</div>
	<% LabTest.all.each do |lab_test| %>
	<div class="field">
		<%= check_box_tag "visit[lab_test_ids][]", lab_test.id, @visit.lab_tests.include?(lab_test) %>
		<%= lab_test.full_name %>
	</div>
	<% end %>
	<div class="form-actions">
		<%= f.hidden_field :id %>
		<%= f.submit 'Submit Order', :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		edit_visit_path(id: @visit.id), :class => 'btn' %>
	</div>
<% end %>