<%- model_class = Visit -%>
<div class="page-header">
	<h4>
		<span class="titlehighlight">
			<%= @visit.patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
			<%= @visit.patient.gender.titleize %>
		</span>
		<span class="titlehighlight">
			<%= @visit.patient.age %>
		</span>
		<span class="bluehighlight">
			DOB:<%= @visit.patient.date_of_birth %>
		</span>
	</h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:visit_date) %>:</strong></dt>
  <dd><%= @visit.visit_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visit_reason) %>:</strong></dt>
  <dd><%= @visit.visit_reason %></dd>
  <dt><strong><%= model_class.human_attribute_name(:s_note) %>:</strong></dt>
  <dd><%= @visit.s_note %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @visit.patient.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_visit_path(@visit), :class => 'btn btn-info' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              visit_path(@visit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
