<%= form_for @visit_lab_test_xref, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%#= f.label :visit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :visit_id, :class => 'hidden_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lab_test_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lab_test_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :visit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :visit_id, :class => 'hidden_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lab_test_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lab_test_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :visit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :visit_id, :class => 'hidden_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lab_test_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lab_test_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                edit_visit_path(id: @visit_lab_test_xref.visit_id), :class => 'btn' %>
  </div>
<% end %>
