<%= form_for @visit_lab_test_xref, :html => { :class => 'form-horizontal' } do |f| %>
<% if @visit_lab_test_xref.errors.any? %>
  <div class="alert">
    <h3><%= pluralize(@visit_lab_test_xref.errors.count, "error") %> prohibited this lab test from being saved:</h3>
    <ul>
    <% @visit_lab_test_xref.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.hidden_field :visit_id, :class => 'hidden_field' %>
<%= f.hidden_field :lab_test_id, :class => 'hidden_field' %>
<div class="control-group">
	<%= f.label 'Lab Test', :class => 'control-label' %>
	<div class="controls">
		<%= @visit_lab_test_xref.lab_test.full_name %>
	</div>
</div>
<div class="control-group">
	<%= f.label 'ordered at', :class => 'control-label' %>
	<div class="controls">
		<%= @visit_lab_test_xref.created_at %>
	</div>
</div>
<div class="control-group">
	<%= f.label :conducted_at, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :conducted_at, :class => 'datepicker', data: {date_format: "yyyy-mm-dd"} %>
	</div>
</div>			
<div class="control-group">
	<%= f.label :measurement, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :measurement, :class => 'text_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :received_at, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :received_at, :class => 'datepicker', data: {date_format: "yyyy-mm-dd"} %>
	</div>
</div>
<div class="control-group">
	<%= f.label :reviewed_at, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :reviewed_at, :class => 'datepicker', data: {date_format: "yyyy-mm-dd"} %>
	</div>
</div>
<div class="control-group">
	<%= f.label :alert_flag, :class => 'control-label' %>
	<div class="controls">
		<%= f.check_box :alert_flag, :class => 'check_box' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :lab_note, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :lab_note, rows: 6, :class => 'input-xxlarge' %>
	</div>
</div>

<div class="form-actions">
	<%= link_to 'Patient', patient_path(id: @visit_lab_test_xref.visit.patient_id), class: "btn btn-small"%>
	<%= f.submit 'Submit', :class => 'btn btn-small btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	visit_lab_test_xrefs_path, :class => 'btn btn-small' %>
</div>
<% end %>
