<%- model_class = VisitLabTestXref -%>
<div class="page-header">
	<h4>
		<span class="titlehighlight">
			<%= @visit_lab_test_xref.visit.patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
			<%= @visit_lab_test_xref.visit.patient.gender.titleize %>
		</span>
		<span class="titlehighlight">
			<%= @visit_lab_test_xref.visit.patient.age %>
		</span>
		<span class="bluehighlight">
			DOB:<%= @visit_lab_test_xref.visit.patient.date_of_birth %>
		</span>
	</h4>
</div>

<%= render :partial => 'form' %>
