<%- model_class = VisitLabTestXref -%>
<div class="page-header">
	<span>
		<%= form_tag visit_lab_test_xrefs_path, :method => 'get' do %>
		<%= search_field_tag :search, params[:search], class: "search-query" , placeholder: "patient name" %>      
		<%= submit_tag "Search", class: "btn btn-primary", :name => nil %>
		<%#= link_to "New", patients_path, class: 'btn btn-primary' %>
		<% end %>
	</span>
</div>
<div>
	<h4 class="alert alert-info">
		Lab Tests Ordered:
	</h4>
	<table class="table table-hover">
		<tr>
			<th><%= model_class.human_attribute_name(:id) %></th>
			<th>Patient</th>
			<th><%= model_class.human_attribute_name(:lab_test_id) %></th>
			<th><%= model_class.human_attribute_name(:conducted_at) %></th>
			<th><%= model_class.human_attribute_name(:measurement) %></th>
			<th><%= model_class.human_attribute_name(:received_at) %></th>
			<th><%= model_class.human_attribute_name(:reviewed_at) %></th>
			<th><%= model_class.human_attribute_name(:lab_note) %></th>
			<th></th>
		</tr>
		<% @visit_lab_test_xrefs.each do |visit_lab_test_xref| %>
		<tr>
			<td><%= link_to visit_lab_test_xref.id, visit_lab_test_xref_path(visit_lab_test_xref) %></td>
			<td>
				<%= link_to visit_lab_test_xref.visit.patient.full_name.titleize, patient_path(id: visit_lab_test_xref.visit.patient_id) %>
			</td>
			<td><%= visit_lab_test_xref.lab_test.full_name.titleize %></td>
			<td><%= visit_lab_test_xref.conducted_at %></td>
			<td><%= visit_lab_test_xref.measurement %></td>
			<td><%= visit_lab_test_xref.received_at %></td>
			<td><%= visit_lab_test_xref.reviewed_at %></td>
			<td><%= visit_lab_test_xref.lab_note %></td>
			<td>
				<%= link_to "Edit", edit_visit_lab_test_xref_path(visit_lab_test_xref), :class => 'btn btn-mini btn-info' %>
			</td>
		</tr>
		<% end %>
	</table>
</div>