<%- model_class = VisitLabTestXref -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:visit_id) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.visit_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lab_test_id) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.lab_test_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:measurement) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.measurement %></dd>
  <dt><strong><%= model_class.human_attribute_name(:received_at) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.received_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reviewed_at) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.reviewed_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              visit_lab_test_xrefs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_visit_lab_test_xref_path(@visit_lab_test_xref), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              visit_lab_test_xref_path(@visit_lab_test_xref),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
