<%- model_class = VisitLabTestXref -%>
<%= render partial: "common/patient_header"%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:visit_id) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.visit.visited_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lab_test_id) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.lab_test.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conducted_at) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.conducted_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:measurement) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.measurement %></dd>
  <dt><strong><%= model_class.human_attribute_name(:received_at) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.received_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reviewed_at) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.reviewed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lab_note) %>:</strong></dt>
  <dd><%= @visit_lab_test_xref.lab_note %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @visit_lab_test_xref.visit.patient_id), :class => 'btn'  %>
</div>
