<%= form_for @contraceptive_history, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :patient_id, :class => 'hidden_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contraceptive_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:contraceptive_id, Contraceptive.all, :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contraceptive_problems, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contraceptive_problems, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patient_path(id: @contraceptive_history.patient_id), :class => 'btn' %>
  </div>
<% end %>