<%- model_class = CurrentMedication -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @current_medication.patient.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @current_medication.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dosage) %>:</strong></dt>
  <dd><%= @current_medication.dosage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frequency) %>:</strong></dt>
  <dd><%= @current_medication.frequency %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @current_medication.patient.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_current_medication_path(@current_medication), :class => 'btn btn-info' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              current_medication_path(@current_medication),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
