<span class="span6">
	<h4 class="alert alert-info">
		Family History:&nbsp
		<%= link_to 'Add Record', new_medical_history_path(patient_id: @patient.id), 
		class: "btn btn-small btn-primary" %>	
		</h4>
		<% if @family_histories.blank? %>
		<p>No family history information found on record</p>
		<% else %>		
		<table class="table table-condensed">
			<tr>
				<td>Disease/Problem</td>
				<td>Relationship</td>
				<td>Diagnosis Date</td>
				<td></td>
			</tr>		
			<% @family_histories.each do | family_history |%>
			<tr>
				<td>
					<%= family_history.disease %>
					
				</td>
				<td><%= family_history.self_or_family %></td>
				<td><%= family_history.diagnosed_at %></td>
				<td><%= link_to 'Edit', edit_medical_history_path(family_history.id), :class => 'btn btn-mini btn-info' %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</span>	