<%= form_for @patient, :html => { class:  'form-horizontal' } do |f| %>
<% if @patient.errors.any? %>
  <div class="alert">
    <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
    <ul>
    <% @patient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="control-group">
	<%= f.label :first_name, class:  'control-label' %>
	<div class="controls">
		<%= f.text_field :first_name, class:  'text_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :middle_name, class:  'control-label' %>
	<div class="controls">
		<%= f.text_field :middle_name, class:  'text_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :last_name, class:  'control-label' %>
	<div class="controls">
		<%= f.text_field :last_name, class:  'text_field' %>
	</div>
</div>

  <div class="control-group">
    <%= f.label :date_of_birth, class:  'control-label' %>
    <div class="controls">
      <%= f.text_field :date_of_birth, class: "datepicker", data: {date_end_date: Date.today} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, class:  'control-label' %>
    <div class="controls">
      <%#= f.text_field :gender, class: 'text_field' %>
      <%= f.select :gender, VALID_GENDER, class:  'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, class:  'control-label' %>
    <div class="controls">
      <%= f.telephone_field :phone, class: 'phone_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :externalid, class:  'control-label' %>
    <div class="controls">
      <%= f.text_field :externalid, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :alert_flag, class:  'control-label' %>
    <div class="controls">
      <%= f.check_box :alert_flag, class: 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, class:  'control-label' %>
    <div class="controls">
      <%= f.text_area :summary, rows: 4, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, class:  'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, class:  'btn' %>
  </div>

<% end %>
