<%= form_for @patient, :html => { class:  'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, class:  'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, class:  'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, class:  'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, class:  'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, class:  'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, class:  'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, class:  'control-label' %>
    <div class="controls">
      <%= f.date_field :date_of_birth, class: "datepicker", data: {"date-format" => "yyyy-mm-dd"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex, class:  'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, class: 'text_field' %>
      <%#= f.select :sex, options_for_select(@patient.sex), class:  'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, class:  'control-label' %>
    <div class="controls">
      <%= f.telephone_field :phone, class: 'phone_field' %>
    </div>
  </div>
	<div class="control-group">
		<% if @patient.reg_answers.blank? %>
			<p>This is not registration information available for this patient as yet.
			</p>
		  <div class="form-actions">
		    <%= f.submit nil, class:  'btn btn-primary' %>
		    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		                patients_path, class:  'btn' %>
		  </div>
			
		<% else %>
		<div class="controls">
			<%= f.fields_for :reg_answers do |ans| %>
				<strong>Question :</strong>
				<%= ans.hidden_field :reg_question_id %>
				<%= ans.text_field :reg_question_text, disabled: true, class: "text_field" %><br />
				<strong>Answer:   </strong>
				<%= ans.text_field :content %><br />
			<% end %>
		</div>
		
		<% end%>
  </div>
<% end %>