<span class="span6">
	<h4 class="alert alert-info">
		Gynecology History:&nbsp
		<%= link_to 'Add Record', new_gynecology_history_path(patient_id: @patient.id), class: "btn btn-small btn-primary" %>
	</h4>
	<% if @gynecology_histories.blank? %>
	<p>
		No gynecology history information found on record
	</p>
	<% else %>
	<table class="table table-condensed">
		<tr>
			<th>Problem Type</th>
			<th>Problem Date</th>
			<th>Followup</th>
			<th></th>
		</tr>
		<% @gynecology_histories.each do | gynecology_history | %>
		<tr>
			<td><%= gynecology_history.gynecology_problem.name %></td>
			<td><%= gynecology_history.problem_date %></td>
			<td><%= gynecology_history.followup %></td>
			<td><%= link_to 'Edit', edit_gynecology_history_path(gynecology_history), class: "btn btn-min btn-info" %>
		</tr>
		<% end %>
	</table>
	<% end %>
</span>