<span class="span6">
	<h4 class="alert">
		Hospitalization Information:&nbsp
		<%= link_to 'Add Record', new_hospitalization_path(patient_id: @patient.id), 
		class: "btn btn-small btn-primary" %>	
		</h4>
		<% if @hospitalizations.blank? %>
		<p>No hospitalization information found on record</p>
		<% end%>		
		<% @hospitalizations.each do | hospitalization |%>
		<dl class="dl-horizontal">
			<dt>Reason:</dt>
			<dd>
				<%= hospitalization.hospitalization_reason %>
				<%= link_to 'Edit', edit_hospitalization_path(hospitalization.id), :class => 'btn btn-mini btn-info' %>
			</dd>
			<dt>Date:</dt>
			<dd><%= hospitalization.hospitalization_date %></dd>
			<dt>Duration:</dt>
			<dd><%= hospitalization.hospitalization_duration %></dd>
		</dl>
		<% end %>
	</span>	
