<span class="span6">
	<h4 class="alert alert-error">
		Current Medications:&nbsp
		<%= link_to 'Add Medications', new_current_medication_path(patient_id: @patient.id), 
		class: "btn btn-small btn-primary" %>	
		</h4>
		<% if @current_medications.blank? %>
		<p>No current medication information found on record</p>
		<% end%>		
		<% @patient.current_medications.each do | current_medication |%>
		<dl class="dl-horizontal">
			<dt>Medication Name:</dt>
			<dd>
				<%= current_medication.name %>
				<%= link_to 'Edit', edit_current_medication_path(current_medication.id), :class => 'btn btn-mini btn-info' %>
			</dd>
			<dt>Dosage:</dt>
			<dd><%= current_medication.dosage %></dd>
			<dt>Frequency:</dt>
			<dd><%= current_medication.frequency %></dd>
			<dt>Route:</dt>
			<dd><%= current_medication.route %></dd>
		</dl>
		<% end %>
	</span>
