<span class="span6">
	<h4 class="alert alert-error">
		Current Medications:&nbsp
		<%= link_to 'Add Medications', new_current_medication_path(patient_id: @patient.id), 
		class: "btn btn-small btn-primary" %>	
		</h4>
		<% if @current_medications.blank? %>
		<p>No current medication information found on record</p>
		<% else %>
		<table class="table table-condensed">
			<tr>
				<th>Name</th>
				<th>Dosage</th>
				<th>Frequency</th>
				<th>Route</th>
				<th>From</th>
				<th>To</th>
				<th></th>
			</tr>
			<% @patient.current_medications.each do | current_medication |%>
			<tr>
				<td><%= current_medication.name %></td>
				<td><%= current_medication.dosage %></td>
				<td><%= current_medication.medication_frequency.short_name %></td>
				<td><%= current_medication.medication_route.short_name.downcase %></td>
				<td><%= current_medication.start_date %></td>
				<td><%= current_medication.end_date %></td>
				<td><%= link_to 'Edit', edit_current_medication_path(current_medication.id), :class => 'btn btn-mini btn-info' %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</span>
