<span class="span12">
	<% if @menstrual_histories.blank? %>
	<h4 class="alert alert-info">
		Mentrual History:&nbsp
		<%= link_to 'Add Record', new_menstrual_history_path(patient_id: @patient.id), class: "btn btn-small btn-primary" %>
	</h4>
	<p>
		No menstrual history information found on record
	</p>
	<% else %>
	<h4 class="alert alert-info">
		Menstrual History:&nbsp
		<%= link_to 'Edit', edit_menstrual_history_path(1), class: "btn btn-small btn-info" %>
	</h4>
	<table class="table table-condensed">
		<tr>
			<th>Onset Age</th>
			<th>Normal First Day</th>
			<th>Interval</th>
			<th>Problems</th>
			<th>Past Problems</th>
		</tr>
		<% @menstrual_histories.each do | menstrual_history | %>
		<tr>
			<td><%= menstrual_history.onset_age %></td>
			<td><%= menstrual_history.normal_first_day_of_last_period %></td>
			<td><%= menstrual_history.period_interval %></td>
			<td><%= menstrual_history.problems_with_period %></td>
			<td><%= menstrual_history.past_problems_with_period %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
</span>