<span class="span6">
	<% if @pregnancy_histories.blank? %>
	<h4 class="alert alert-info">
		Pregnancy History:&nbsp
		<%= link_to 'Add Record', new_pregnancy_history_path(patient_id: @patient.id), class: "btn btn-small btn-primary" %>
	</h4>
	<p>
		No pregnancy history information found on record
	</p>
	<% else %>
	<h4 class="alert alert-info">
		Pregnancy History:&nbsp
		<%= link_to 'Edit', edit_pregnancy_history_path(1), class: "btn btn-small btn-info" %>
	</h4>
	<table class="table table-condensed">
		<tr>
			<th>Currently Pregnant</th>
			<th>Full-term Births</th>
			<th>Pre-term Births</th>
			<th>Spont. Miscarriages</th>
			<th>Elective Abortions</th>
			<th>Living Children</th>
		</tr>
		<% @pregnancy_histories.each do | pregnancy_history | %>
		<tr>
			<td><%= pregnancy_history.currently_pregnant %></td>
			<td><%= pregnancy_history.full_term_births %></td>
			<td><%= pregnancy_history.preterm_births %></td>
			<td><%= pregnancy_history.spont_miscarriages %></td>
			<td><%= pregnancy_history.elective_abortions %></td>
			<td><%= pregnancy_history.living_children %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
</span>