<span class="span8">
	<h4 class="alert">Visit Information:&nbsp
		<%#= link_to 'Add Visit', new_visit_path(patient_id: @patient.id), class: "btn btn-small btn-primary" %>
		<%= link_to 'Add Appointment', new_appointment_path(patient_id: @patient.id), class: "btn btn-mini btn-primary" %>
	</h4>
	<% if @visits.blank? %>
	<p>No visit information found on record</p>
	<% else %>
	<table class="table table-condensed">
		<tr>
			<th>Visit Date</th>
			<th>Visit Reason</th>
			<th>Notes</th>
			<td></td>
		</tr>
		<% @patient.visits.each do | visit | %>
		<tr>
			<td>
				<%= visit.visited_at.to_date %>
			</td>
			<td><%= visit.visit_reason.capitalize %></td>
			<td><%= simple_format visit.s_note %></td>
			<td>
				<% if visit.visited_at = Date.today %>
				<%= link_to 'Edit', edit_visit_path(visit), class: "btn btn-mini btn-info" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>
</span>
