<span class="span12">
	<h4 class="alert">
	Vital Signs:&nbsp
</h4>
<% if @vital_signs.blank? %>
<p>No vital signs information found on record</p>
<% else %>
<table class="table table-condensed">
	<tr>
		<th>Date</th>
		<th>Temperature [F]</th>
		<th>Heart Rate</th>
		<th>BP Systolic [HHmg]</th>
		<th>BP Diastolic [HHmg]</th>
		<th>Respiratory Rate</th>
		<th>Weight [Kg]</th>
		<th>Height [Lb]</th>
	</tr>
	<% @visits.each do | visit | %>
	<% visit.vital_signs.each do | vital_sign | %>
	<tr>
		<td><%= vital_sign.visit.visited_at.to_date %></td>
		<td><%= vital_sign.temperature %></td>
		<td><%= vital_sign.heart_rate %></td>
		<td><%= vital_sign.bp_systolic %></td>
		<td><%= vital_sign.bp_diastolic %></td>
		<td><%= vital_sign.respiratory_rate %></td>
		<td><%= vital_sign.weight %></td>
		<td><%= vital_sign.height %></td>
	</tr>
	<% end %>	
	<% end %>
</table>
<% end %>
</span>
