<%- model_class = Patient -%>
<% if @patient.errors.any? %>
<div class="alert">
	<h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
	<ul>
		<% @patient.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="page-header">
	<h3>
		<span class="titlehighlight">
			<%= @patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
			<%= @patient.gender.titleize %>
		</span>
		<span class="titlehighlight">
			<%= @patient.age %>
		</span>
		<span class="bluehighlight">
			DOB:<%= @patient.date_of_birth %>
		</span>
	</h3>
	<h4>
		<%= "Phone: #{@patient.phone} Externalid: #{@patient.externalid}" %>
	</h4> 
</div>
<div class="row-fluid">
	<%= render :partial => 'allergy' %>
	<%= render :partial => 'medication' %>
</div>
<!-- VISIT INFORMATION START HERE-->
<div class="row-fluid">
	<%= render partial: "visit"%>
	<%= render partial: "lab_test" %>
</div>
<div class="row-fluid">
	<%= render partial: "vital_sign" %>
</div>
<!-- VISIT INFORMATION END HERE -->
<div class="row-fluid">
	<%#= render :partial => 'registration' %>
</div>
<div class="row-fluid">
	<%= render :partial => 'immunization' %>
	<%= render :partial => 'surgery' %>
</div>
<div class="row-fluid">
	<%= render :partial => 'medical_history' %>	
	<%= render :partial => 'family_history' %>	
</div>
<div class="row-fluid">
		<%= render :partial => 'social_history' %>
</div>
<div class="row-fluid">	
	<span class="span6">
		<h4 class="alert alert-success">
			Contact Info:&nbsp<%= link_to 'Edit', @contact_info, class: "btn btn-small btn-info" %>
		</h4>
		<%= render partial: @contact_info %>
	</span>
	<span class="span6">
		<h4 class="alert alert-success">
			Insurance Info:&nbsp<%= link_to 'Edit', @insurance_info, class: "btn btn-small btn-info" %>
		</h4>
		<%= render partial: @insurance_info %>
	</span>
</div>
<div class="row-fluid">
	<div class="form-actions">
		<%= link_to t('.back', :default => t("helpers.links.back")),
		patients_path, :class => 'btn'  %>
		<%= link_to 'Edit Patient Profile',
		edit_patient_path(@patient), :class => 'btn btn-info' %>
	</div>
</div>
