	<div class="row-fluid">
			<span class="span6">
				<h4 class="alert">
					Visit Information:&nbsp
					<%= link_to 'Add Visit', new_visit_path(patient_id: @patient.id), class: "btn btn-small btn-primary" %>
				</h4>		
				<% if @patient.visits.blank? %>
				<p>No visit information found on record</p>
				<% end %>
				<% @patient.visits.order("visit_date").each do|visit| %>
				<dl class="dl-horizontal">
					<dt>Date:</dt>
					<dd><%= visit.visit_date.to_date %></dd>
					<dt>Reason:</dt>
					<dd><%= visit.visit_reason.capitalize %></dd>
					<dt>Notes:</dt>
					<dd><%= visit.visit_note %></dd>
				</dl>
				<% if (visit.visit_date >= Date.today) %>
				<%= link_to 'Edit Visit', edit_visit_path(visit.id), :class => 'btn btn-small btn-info' %>
				<% end %>
				<% end %>
			</span>
			<span class="span6">
				<h4 class="alert">Lab Tests Ordered:</h4>
				<% if @patient.visits.blank? %>
				<p>No lab tests order found for the patient</p>
				<% end %>
				<% @patient.visits.each do |visit|%>
				<dl class="dl-horizontal">
				<% visit.lab_tests.each do |lab_test|%>
				<dt><%= lab_test.full_name</dt>
			  <dd><%= lab_test.created_at.to_date %></dd>
				<% end %>
			  </dl>
				<% end %>
			</span>
		</div>
		<div class="row-fluid">
			<span class="span12">
				<h4 class="alert">
					Vital Signs Information:&nbsp
				</h4>
				<% if @patient.visits.blank? %>
				<p>No vital signs record found for the patient</p>
				<% else %>
				<table class="table">
					<tr>
						<td>Date</td>
						<td>Temp</td>
						<td>Pulse</td>
						<td>Bp Sys</td>
						<td>Bp Dia</td>
						<td>Resp</td>
						<td>Weight</td>
						<td>Height</td>
					</tr>
					<% end %>
					<% @patient.visits.each do |visit|%> 
					<% visit.vital_signs.each do|vital_sign| %>
					<tr>
						<td><%= vital_sign.visit.visit_date.to_date %></td>
						<td><%= vital_sign.temperature %></td>
						<td><%= vital_sign.heart_rate %></td>
						<td><%= vital_sign.bp_systolic %></td>
						<td><%= vital_sign.bp_diastolic %></td>
						<td><%= vital_sign.respiratory_rate %></td>
						<td><%= vital_sign.weight %></td>
						<td><%= vital_sign.height %></td>
					<% end %>
					<% end %>
					</tr>
				</table>
			</span>
	</div>