<%- model_class = PregnancyHistory -%>
<<%= render partial: "common/patient_header"%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:currently_pregnant) %>:</strong></dt>
  <dd><%= @pregnancy_history.currently_pregnant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:full_term_births) %>:</strong></dt>
  <dd><%= @pregnancy_history.full_term_births %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preterm_births) %>:</strong></dt>
  <dd><%= @pregnancy_history.preterm_births %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spont_miscarriages) %>:</strong></dt>
  <dd><%= @pregnancy_history.spont_miscarriages %></dd>
  <dt><strong><%= model_class.human_attribute_name(:elective_abortions) %>:</strong></dt>
  <dd><%= @pregnancy_history.elective_abortions %></dd>
  <dt><strong><%= model_class.human_attribute_name(:living_children) %>:</strong></dt>
  <dd><%= @pregnancy_history.living_children %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @pregnancy_history.patient_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pregnancy_history_path(@pregnancy_history), :class => 'btn' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pregnancy_history_path(@pregnancy_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
