<%- model_class = SocialHistory -%>
<div class="page-header">
	<h4>
		<span class="titlehighlight">
			<%= @social_history.patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
			<%= @social_history.patient.gender.titleize %>
		</span>
		<span class="titlehighlight">
			<%= @social_history.patient.age %>
		</span>
		<span class="bluehighlight">
			DOB:<%= @social_history.patient.date_of_birth %>
		</span>
	</h4>
</div>

<%= render :partial => 'form' %>
