<%- model_class = SocialHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @social_history.patient_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:smoking) %>:</strong></dt>
  <dd><%= @social_history.smoking %></dd>
  <dt><strong><%= model_class.human_attribute_name(:smoking_quantity) %>:</strong></dt>
  <dd><%= @social_history.smoking_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drinking) %>:</strong></dt>
  <dd><%= @social_history.drinking %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drinking_quantity) %>:</strong></dt>
  <dd><%= @social_history.drinking_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physical_excercise) %>:</strong></dt>
  <dd><%= @social_history.physical_excercise %></dd>
  <dt><strong><%= model_class.human_attribute_name(:excercise_per_day) %>:</strong></dt>
  <dd><%= @social_history.excercise_per_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:substance_abuse) %>:</strong></dt>
  <dd><%= @social_history.substance_abuse %></dd>
  <dt><strong><%= model_class.human_attribute_name(:substance_type) %>:</strong></dt>
  <dd><%= @social_history.substance_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profession) %>:</strong></dt>
  <dd><%= @social_history.profession %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pet) %>:</strong></dt>
  <dd><%= @social_history.pet %></dd>
  <dt><strong><%= model_class.human_attribute_name(:living_with_family) %>:</strong></dt>
  <dd><%= @social_history.living_with_family %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marital_status) %>:</strong></dt>
  <dd><%= @social_history.marital_status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              social_histories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_social_history_path(@social_history), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              social_history_path(@social_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
