<%= form_for @med_test, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :patient_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :patient_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :visit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visit_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :med_test_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :med_test_type_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :measurement, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :measurement, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mearsurement_note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mearsurement_note, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ordered_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ordered_at, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reviewed_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reviewed_at, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                med_tests_path, :class => 'btn' %>
  </div>
<% end %>
