<%- model_class = Allergy -%>
<div class="page-header">
	<h4>
		<span class="titlehighlight">
			<%= @allergy.patient.full_name.titleize %>
		</span>
		<span class="bluehighlight">
			<%= @allergy.patient.gender.titleize %>
		</span>
		<span class="titlehighlight">
			<%= @allergy.patient.age %>
		</span>
		<span class="bluehighlight">
			DOB:<%= @allergy.patient.date_of_birth %>
		</span>
	</h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:substance_name) %>:</strong></dt>
  <dd><%= @allergy.substance_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:substance_type) %>:</strong></dt>
  <dd><%= @allergy.substance_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reaction) %>:</strong></dt>
  <dd><%= @allergy.reaction %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patient_path(id: @allergy.patient.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_allergy_path(@allergy), :class => 'btn btn-info' %>
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              allergy_path(@allergy),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
