<%= form_for @appointment, :html => { :class => 'form-horizontal' } do |f| %>
<% if @appointment.errors.any? %>
<div class="alert">
	<h4><%= pluralize(@appointment.errors.count, "error") %> prohibited this visit from being saved:</h4>
	<ul>
		<% @appointment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="control-group">
	<%= f.hidden_field :user_id, :class => 'hidden_field' %>
</div>
<div class="control-group">
		<%= f.hidden_field :patient_id, class: "hidden_field" %>
</div>
<div class="control-group">
	<%= f.label :appointment_date, :class => 'control-label' %>
	<div class="controls">
			<%= f.date_field :appointment_date, class: "date_field" %>
	</div>	
</div>
<div class="control-group">
	<%= f.label :appointment_slot_id, :class => 'control-label' %>
	<div class="controls">
			<%= f.collection_select(:appointment_slot_id, AppointmentSlot.all, :id, :name) %>
	</div>	
</div>
<div class="control-group">
	<%= f.label :appointment_type, :class => 'control-label' %>
	<div class="controls">
		<%= f.select :appointment_type, ["walkin","annual","normal","discuss"], :class => 'text_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :appointment_reason, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :appointment_reason, rows: 2, :class => 'input-xxlarge' %>
	</div>
</div>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	appointments_path, :class => 'btn' %>
</div>
<% end %>