<%- model_class = Appointment -%>
<div class="page-header">
	<span>
		<%= form_tag appointments_path, :method => 'get' do %>
		<%= search_field_tag :search, params[:search], class: "search-query" , placeholder: "patient name" %>      
		<%= submit_tag "Search Appointments", class: "btn btn-primary", :name => nil %>
		<%= link_to "New", patients_path, class: 'btn btn-primary' %>
		<% end %>
	</span>
</div>
<div>
	<h4 class="alert alert-info">
		Future Appointments:
	</h4>
	<% if @appointments.blank? %>
	<p>
		No future appointments found on record		
	</p>
	<% else %>
	<table class="table table-hover">
		<tr>
			<th><%= model_class.human_attribute_name(:patient_id) %></th>
			<th><%= model_class.human_attribute_name(:appointment_date) %></th>
			<th><%= model_class.human_attribute_name(:appointment_slot_id) %></th>
			<th><%= model_class.human_attribute_name(:appointment_reason) %></th>
			<th><%= model_class.human_attribute_name(:appointment_type) %></th>
			<th><%= model_class.human_attribute_name(:created_at) %></th>
			<th><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
		<% @appointments.each do |appointment| %>
		<tr>
			<td><%= link_to appointment.patient.full_name.titleize, patient_path(id: appointment.patient_id) %></td>
			<td><%= appointment.appointment_date %></td>
			<td><%= appointment.appointment_slot.name %></td>
			<td><%= appointment.appointment_reason.titleize %></td>
			<td><%= appointment.appointment_type.titleize %></td>
			<td><%= appointment.created_at %></td>
			<td>
				<%= link_to t('.edit', :default => t("helpers.links.edit")),
				edit_appointment_path(appointment), :class => 'btn btn-mini btn-info' %>
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>
</div>