<%= form_for @med_test_type, :html => { :class => 'form-horizontal' } do |f| %>
<% if @med_test_type.errors.any? %>
  <div class="alert">
    <h2><%= pluralize(@med_test_type.errors.count, "error") %> prohibited this med_test_type from being saved:</h2>
    <ul>
    <% @med_test_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :short_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit_of_measure, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unit_of_measure, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lab_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :lab_type, VALID_LABTYPE, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :essential, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :essential, :class => 'checkbox' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :minimum_threshold, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :minimum_threshold, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maximum_threshold, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :maximum_threshold, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :minimum_age, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :minimum_age, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                med_test_types_path, :class => 'btn' %>
  </div>
<% end %>
