<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" id="logo" href="<%= root_url %>"><i class="icon-plus-sign"> </i>mYh</a>
		<ul class="nav">
			<li class="divider-vertical"></li>
			<li><%= link_to 'Home', work_url %></li>	
			<li class="divider-vertical"></li>
			<li><%= link_to 'Patients', patients_path %></li>
			<li class="divider-vertical"></li>
			<li><%= link_to 'Appointments', appointments_path %></li>
			<li class="divider-vertical"></li>
			<li><%= link_to 'Lab tests', visit_lab_test_xrefs_path %></li>
			<li class="divider-vertical"></li>
		</ul>
	</div>
</div>